.mainDropDown {
  padding: 0px 0px 0px 10px;
  border: none;
  font-family: "Open Sans";
  color: black;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-size: 14px;
}

.dropDownOption {
  width: max-content;
  right: 0;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
  color: black;
  z-index: 4;
  max-height: 300px;
  font-size: 14px;
  text-transform: capitalize;
}
